
@font-face {
  font-family: BombDaGone; /* Гарнитура шрифта */
  src: url(../../fonts/GreatFighter.otf); /* Путь к файлу со шрифтом */
}

.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__description-line-name{
  font-family: "BombDaGone", "Calibri";
  font-size: 70px;
  color: black;
  text-align: center;

  width: 100%;
  -webkit-text-stroke: 2px red;

}
.fighter-preview__description-line{
  font-size: 35px;
  color: white;
  font-family:  "BombDaGone", sans-serif;

  -webkit-text-stroke: 1px black;
  text-align: center;
  width: 100%;

}
